{% extends 'partials/base.html' %}



{% block content %}

<button style="padding: 1em 1em 1em 1em;" onclick="joinGame()">Join Game</button>

<button style="padding: 1em 1em 1em 1em;" onclick="joinMatchmaking()">Join Matchmaking</button>

<button style="padding: 1em 1em 1em 1em;" onclick="testCelery()">Test Celery</button>

<button style="padding: 1em 1em 1em 1em;" onclick="testRedis()">Test Redis</button>

<button style="padding: 1em 1em 1em 1em;" onclick="testResponse()">Test Response</button>

<button style="padding: 1em 1em 1em 1em;" onclick="testGameServerResponse()">testGameServerResponse</button>

<button style="padding: 1em 1em 1em 1em;" onclick="testCreateGame()">testCreateGame</button>

<button style="padding: 1em 1em 1em 1em;" onclick="testRequestWebsiteToGameServer()">testRequestWebsiteToGameServer</button>

<button style="padding: 1em 1em 1em 1em;" onclick="testPlaySound()">testPlaySound</button>

{% endblock %}

{% block scripts %}

{% assets "matchmaking-js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script>


</script>
<script src="{{ url_for('static', filename='js/game/gameCommands.js') }}"></script>

{% endblock %}
