
{% macro html() %}

<div id="notification-container">
    <div id="notification-container-inner">

    </div>
</div>

<style>
    #notification-container {
        position:fixed;
        inset: 0;
        display: flex; /* flex */
        align-items:flex-start;
        padding: 1.5rem 1rem 1.5rem 1rem;
        pointer-events: none;
    }
    #notification-container-inner {
        width: full;
        display: flex; /* flex */
        flex-direction: column;
        align-items:flex-end;
        padding: 1.5rem 1rem 1.5rem 1rem;
        pointer-events: none;
    }
    /* style of each individual notif */
    #notification-container-inner > div {
        margin-bottom: 1rem;
        background: white;
        border: 1px solid black;
        box-shadow: 1px 1px 0 0 black;
    }
    #notification-container-inner > div > svg {
        width: 1rem;
        height: 1rem;
    }
</style>

<script>

document.addEventListener("DOMContentLoaded", function() {
    socket.on('notification_json', data => {
        (data.notification_json.timeout) ? addNotification(data.notification_json, data.notification_json.timeout) : addNotification(data.notification_json);
    });
});

</script>

{% endmacro %}