
{% macro html() %}

<div id="notification-container">
    <div id="notification-container-inner">

    </div>
</div>

<style>
    #notification-container {
        position:fixed;
        inset: 0;
        display: none; /* flex */
        align-items:flex-start;
        padding: 1.5rem 1rem 1.5rem 1rem;
        pointer-events: none;
    }
    #notification-container-inner {
        width: full;
        display: flex; /* flex */
        flex-direction: column;
        align-items:flex-end;
        padding: 1.5rem 1rem 1.5rem 1rem;
        pointer-events: none;
    }
    #notification-container-inner > div {
        margin-bottom: 1rem;
    }
</style>

{% endmacro %}