


#friends-party-list {
    display:none;
    position:fixed;
    cursor: default;
    bottom: var(--friends-list-btn-height);
    right: calc(var(--party-btn-width) + var(--messages-btn-width) - 1rem);;
    width: var(--friends-list-btn-width);
    height: 24rem;
    border: 1px solid rgb(30, 30, 30) !important;
    background: var(--primary-friends-color);
    color:white;
    z-index: 50;
    padding: 0.5rem;
}
/* #friends-party-list:hover {
    all:unset!important;
} */
#friends-party-btn {
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    right: calc(var(--friends-list-btn-width) + var(--messages-btn-width));
    bottom: 0rem;
    margin:0;
    width: var(--party-btn-width);
    background: var(--primary-friends-color);
    height: var(--friends-list-btn-height);
    z-index:40;
}
#friends-party-notification-count {
    position:absolute;
    display:none;
    justify-content: center;
    align-items: center;
    left: -0.75rem;
    top: -0.75rem;
    background: red;
    width: 1.5rem;
    height: 1.5rem;
    padding-top:2px;
    border-radius:200px;
    color:white;
    fill: currentColor;
    z-index: 50;
}
.friends-user-tag-notification-div {
    position:absolute;
    display:none;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: red;
    width: 1.5rem;
    height: 100%;
    padding-top:2px;
    color:white;
    fill: currentColor;
    z-index: 50;
}
#friends-party-img {
    width:1.75rem;
    height:1.75rem;
    /* fill: none; */
  stroke: #353535;
  stroke-width: 1px;
  /* stroke-dasharray: 2,2; */
  /* stroke-linejoin: round; */
}
#friends-party-friends {
    /* flex-grow:1; */
    position: absolute;
    width:4rem;
    height:90%;
    padding: 0.2rem;
    left:-1rem;
    z-index:20;
    border: 1px solid rgb(30, 30, 30) !important;
    background: var(--primary-friends-color);
    border:none;
}
#friends-party-friends:hover {
    width:12rem;
}
#friends-party-messages {
    /* flex-grow:1; */
    position:absolute;
    left:4rem;
    display:flex;
    flex-direction: column;
    border:none;
    padding-top:20px;
    height: 95%;
    width: calc(var(--friends-list-btn-width) - var(--party-btn-width) - 1rem);
    background: var(--primary-friends-color);
    z-index:10;
}
#friends-message-form {
    margin-top:auto;
}
#friends-list-list {
    padding-left:0;
    list-style-type: none;
}
.friends-list-friend {
    cursor: pointer;
    padding: 0;
    padding-left:0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.friends-list-friend span {
    margin-left:auto;
}
.friends-list-friend span button{
    background: red;
    padding: 0.5rem;
}
#friends-party-friends-members {
    overflow:hidden;
}
#friends-party-friends-members div {
    position: relative;
    padding: 0.25rem;
    padding-left: 0;
}
#friends-party-friends-members div.active {
    background:white;
    color:black;
}
.friends-party-friend-message {
    float:left;
    background: rgb(81, 81, 81);
    color: white;
}
.friends-party-self-message {
    margin-left:auto;
    background: yellow;
    color: black;
}
#friends-party-user-messages {
    overflow:auto;
    margin-bottom: 1rem;
}
#friends-party-user-messages > div {
    display: flex;
    flex-direction: column;
}
#friends-party-user-messages div div {
    font-size: 0.7rem;
    margin-top:0.2rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    max-width: 100%;
    border-radius:6px;
    width: fit-content;
}
#send-friend-message-input {
    margin-top:auto;
}
#friends-party-user-messages::-webkit-scrollbar { width: 15px; height: 15px; }

#friends-party-user-messages::-webkit-scrollbar-track { background: #51555d; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 6px solid transparent; border-bottom: 6px solid transparent; background-clip: padding-box; }

#friends-party-user-messages::-webkit-scrollbar-corner { background: unset; }

#friends-party-user-messages::-webkit-scrollbar-thumb { background: #888; border-radius: 20px; border: 4px solid transparent; background-clip: content-box; }

#friends-party-user-messages::-webkit-scrollbar-thumb:hover { background: #555; border: 4px solid transparent; background-clip: content-box; }

#friends-party-invite-container {
    position: fixed;
    bottom: var(--friends-list-btn-height);
    right: 0;
    margin: 1rem;
    z-index:60;
}
.friends-party-invite {
    border: 1px solid black;
    margin-top: 0.5rem;
    background: white;
}
.friends-party-invite h6 {
    margin: 0;
}
.friends-party-invite h4 {
    margin: 0;
}