{% extends 'partials/base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<h1>{{ _('Sign In') }}</h1>
<!-- <div class="login-form">
    </div> -->

<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>


<!-- <form action="" method="post" class="form" role="form" data-bitwarden-watching="1">
    <input id="csrf_token" name="csrf_token" type="hidden"
           value="IjJiN2I5NjUwNDZiZjEyNDlkOGY4NDg4MDlmZTkxNmY2MzJjY2ZkYjEi.Yov3jA.z_bZZG1TgBj5xac7CjyDV-kcwy0">
    <div class="form-group  required"><label class="control-label" for="username">Username</label>
        <input class="form-control" id="username" name="username" required="" type="text" value="">
    </div>
    <div class="form-group  required"><label class="control-label" for="password">Password</label>
        <input class="form-control" id="password" name="password" required="" type="password" value="">
    </div>
    <div class="checkbox">
        <label>
            <input id="remember_me" name="remember_me" type="checkbox" value="y"> Remember Me
        </label>
    </div>
    <input class="btn btn-default" id="submit" name="submit" type="submit" value="Sign In">
</form> -->

{% endblock %}
