
{% macro html() %}



<script>

document.addEventListener("DOMContentLoaded", function() {
    socket.on('admin_notification', showAdminNotification);
    let adminNotifElemTimeout;
    function showAdminNotification(data) {
        clearTimeout(adminNotifElemTimeout);
        let notifElem = document.getElementById('admin-notification');
        notifElem.innerText = data.message;
        notifElem.style.display = 'flex';
        adminNotifElemTimeout = setTimeout(() => {
            notifElem.style.display = 'none';
        }, 5000);
    }
});

</script>

<style>
    .notification {
        display: none;
        padding: 1rem;
        background: white;
        border: 1px solid rgb(187, 187, 187);
        position: absolute;
        right: 20px;
        top: 20px;
    }
</style>

{% endmacro %}