{% from "matchmaking/queue_timer.html" import queue_timer with context %}
{% from "matchmaking/match_found.html" import match_found with context %}
{% import "friends/friends_list.html" as friends_list with context %}
{% import "friends/messages.html" as friend_messages with context %}
{% import "friends/party.html" as friends_party with context %}
{% import "notifications/container.html" as notification_container with context %}
{% from "components/notification_div.html" import notification_div with context %}
{% from "admin/macros/admin_notification.html" import admin_notification with context %}
<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="Index.css" />
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/7.5.5/rxjs.umd.js" integrity="sha512-aK/ye33+7EwET3S9lsTCva4L8J3Dms0Zr5gBmZoK583n4kSxcWM4fnnXwR41kN+gPO7U5/qLdQrabiOnKrYb6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <style>
        * {
            border: 1px dashed black;
        }
    </style>
{% block styles %}
{% endblock %}
    <link href="{{ url_for('static', filename='css/paper.min.css') }}" rel="stylesheet">
</head>


<body>

    {% block content %}

    {% endblock %}

    {{ match_found() }}
    {{ queue_timer() }}
    {{ friends_party.html() }}
    {{ friends_list.html() }}
    {{ friend_messages.html() }}
    {{ notification_container.html() }}
    {{ notification_div() }}
    {{ admin_notification() }}
</body>

<div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="toast align-items-center text-white bg-{{ category }} border-0 box-shadow-4" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay=10000>
              <div class="d-flex">
                  <div class="toast-body">
                      {{ message|safe }}
                  </div>
                  <button type="button" class="btn-close btn-close-white me-4 mt-3" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>


{% block scripts %}
{% endblock %}


{% assets "app-js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "friends-js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
        integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
        crossorigin="anonymous"></script>

<script>
    let gameSocket;
    socket = io();
    socket.on('connect', function() {
    });
    socket.on('join_game', function(data) {
        gameSocket = io.connect(data.server, { query: `game_id=${data.game_id}`, reconnection: false });
        document.documentElement.innerHTML = data.html;
    });
</script>